@font-face {
	font-family: 'RobotoLocal';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoLocal';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: bold;
}

body {
	font-family: 'RobotoLocal';
}

img {
	width: 100%;
	height: auto;
}

nav {
	top: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.nav-logo {
	width: 35px;
}

.nav-contents {
	display: none;
}

.nav-hamburger {
	display: flex;
	height: 60px;
	width: 60px;
	justify-content: center;
	align-items: center;
	background-color: blueviolet;
}

/* 三本線の実装 */
.nav-hamburger span,
.nav-hamburger span:before,
.nav-hamburger span:after {
	content: '';
	display: block;
	height: 2px;
	width: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	position: absolute;
}
.nav-hamburger span:before {
	bottom: 10px;
}
.nav-hamburger span:after {
	top: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	display: block;
	padding: 0 20px;
	justify-content: none;
	align-items: none;
}

.footer-contents > ul {
	display: block;
	align-items: center;
}

.footer-contents-item {
	list-style: none;
	font-size: 20px;
	display: block;
	border-bottom: 1px solid gray;
	padding: 20px 0;
}

.copyright {
	padding: 40px 0;
	font-size: 16px;
}

@media screen and (min-width: 768px) {
	.nav-hamburger {
		display: none;
	}
	.nav-contents {
		display: block;
		padding-right: 20px;
	}
	.nav-contents > ul {
		display: flex;
		align-items: center;
		height: 80px;
	}
	.nav-contents-item {
		list-style: none;
		margin-left: 20px;
		font-size: 20px;
	}
	.underline {
		border-bottom: 2px solid blueviolet;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
	}

	.footer-contents > ul {
		display: flex;
		align-items: center;
	}

	.footer-contents-item {
		border-bottom: none;
		margin-left: 20px;
	}
}
